:root {
    --color-white-bg: #fff;
    --color-black: #000;
    --color-light-black: #172337;
    --color-border-grey: #e4e7ed;
    --color-brand-orange: #fb641b;
    --color-brand-blue: #2874f0;
    --color-brand-bbd: #2455f4;
    --color-brand-refurb: #f2575b;
    --color-brand-footer: #172337;
    --color-brand-blue-lighter: #7accff;
    --color-brand-blue-lighter1: #dfeafd;
    --color-blue-lighter1: #b3d7ff;
    --color-blue-lighter2: #2370f4;
    --color-blue-lighter3: #2a55e5;
    --color-blue-lighter4: #f5f7fa;
    --color-blue-lighter5: #d5d7db;
    --color-blue-lighter6: #cfe1ff;
    --color-blue-lighter7: #f0f5ff;
    --color-primary-yellow: #ffe11b;
    --color-primary-yellow2: #f1d27d;
    --color-yellow-grade1: #fff7e1;
    --color-yellow-grade2: #fef8e0;
    --color-purple: #5f4eeb;
    --color-offer-green: #388e3c;
    --color-green-grade0: #26a541;
    --color-green-grade1: #e9f2e9;
    --color-green-grade2: #e6f4e8;
    --color-green-grade3: #e6f3e6;
    --color-green-grade4: #008c00;
    --color-yellowish-orange: #ff9f00;
    --color-flash-green: #11c29b;
    --color-error-red: #ff6161;
    --color-error-red2: #ff4343;
    --color-error-red3: #ffeaed;
    --color-error-red4: #dd5354;
    --color-error-red5: #d23276;
    --color-error-red6: #e4001e;
    --color-error-red7: #e32727;
    --color-grey-grade0: #fafafa;
    --color-grey-grade1: #f0f0f0;
    --color-grey-grade2: #e0e0e0;
    --color-grey-grade3: #c2c2c2;
    --color-grey-grade4: #878787;
    --color-grey-grade5: #212121;
    --color-grey-grade6: #d7d7d7;
    --color-grey-grade7: #f9f9f9;
    --color-grey-grade8: #9e9e9e;
    --color-grey-grade9: #efefef;
    --color-grey-grade10: #f5f5f5;
    --color-grey-grade11: #aaa;
    --color-grey-grade12: #dbdbdb;
    --color-grey-grade13: #fbfbfb;
    --color-grey-grade14: #666;
    --color-grey-grade15: #f8f8f8;
    --color-grey-grade16: #eee;
    --color-grey-grade17: #9b9b9b;
    --color-grey-grade18: #686868;
    --color-grey-grade19: #eaeaea;
    --color-grey-grade20: #e6e6e6;
    --color-grey-grade21: #e9e9e9;
    --color-grey-grade22: #d8d8d8;
    --color-grey-grade23: #ffcbd0;
    --color-grey-grade24: #717478;
    --color-grey-grade25: #111112;
    --color-grey-grade26: #f0f2f5;
    --color-grey-grade27: #e4e7ed;
    --color-grey-grade28: #d5d7db;
    --color-greyish-blue: #b8bbbf;
    --color-light-greyish-blue: #f1f3f5;
    --color-error-bg: #fff7f8;
    --color-info-bg: #ffffe6;
    --color-info-light-bg: #fffbf6;
    --color-page-bg: #f1f3f6;
    --color-green-bg: #f7fffa;
    --color-blue-bg: #f5faff;
    --color-vip-black-bg: #343c4e;
    --color-grey-badge: #717171;
    --color-grey-light: #d3d3d3;
    --color-grey-light2: #d5d7db;
    --color-vendor-text: #3f3f3f;
    --color-supermart-green: #26a541;
    --color-dark-blue1: #1d6ded;
    --color-light-blue: #f4f8ff;
    --color-light-blue1: #bed5fa;
    --color-light-blue2: #93b7f1;
    --color-light-blue3: #f0f5ff;
    --color-suparmart-fk-background: #258b3b;
    --color-info-yellow: #fffdec;
    --color-cobranded-footer-blue: #005387;
    --color-pre-book-purple: #854987;
    --color-light-pink: #fff0ff;
    --color-light-orange: #fdf5e7;
    --color-orange-bg: #fff7e1;
    --color-bright-orange: #e79900;
    --color-payment-orange: #ffc200;
    --color-wishlist-red: #ff4343;
    --color-light-green: #e7f8ec;
    --color-selector-black: #010101;
    --color-light-grey-orange: #fef7e9;
    --color-mustard: #af7b1c;
    --color-light-white-bg: #f5f7fa;
    --header-width-min: 790px;
    --width-min: 978px;
    --width-max: 1680px;
    --product-page-gutter: 24px;
    --product-section-title-width: 110px;
    --product-section-title-padding: 10px;
    --font-regular: 400;
    --font-medium: 500;
    --font-size-8: 8px;
    --font-size-10: 10px;
    --font-size-11: 11px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-28: 28px;
    --font-size-32: 32px;
    --font-size-default: 14px;
    --font-family: Roboto, Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-default);
}


#container {
    height: 100vh;
    background: var(--color-light-white-bg);
}

/* Nav Bar */
.navbar {
    height: 5em;
    background: var(--color-brand-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav-logo {
    height: 1.2em;
}

#search-box {
    width: 25em;
    height: 2.5em;
    outline: none;
}

#login-button {
    height: 2em;
    width: 5em;
    padding: 0.4em;
    text-align: center;
    background: var(--color-light-white-bg)
}

#login-button>a {
    text-decoration: none;
    color: var(--color-dark-blue1);
}

#nav-link {
    text-decoration: none;
    color: var(--color-light-white-bg);
    font-size: var(--font-size-default);
    font-weight: var(--font-medium);
}

.nav-para {
    color: var(--color-light-white-bg);
    font-weight: var(--font-medium);
}

/* Top Bar */
.top-bar {
    height: 10em;
    background: var(--color-white-bg);
    box-shadow: -1 3px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
}

.category {
    position: relative;
    width: 80px;
    height: 140px;
    text-align: center;
    cursor: pointer;
}

.category>img {
    width: 80px;
}

.category>a {
    text-decoration: none;
    color: var(--color-vip-black-bg);
    font-weight: var(--font-medium);
}

/*top bar: dropdown menu */
.dp-menu {
    display: none;
    position: absolute;
    margin-top: 1em;
    z-index: 1;
    width: 15rem;
    background: var(--color-light-white-bg);
    border-radius: 3px;
    box-shadow: 0 1px 10px 0 #272727;


}

.menu-list {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    line-height: 1.8rem;
    text-align: left;
    padding: 5px;
}

.menu-list>a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    font-family: var(--font-family);
}


/* Main Content*/
.wrapper {
    margin: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#banner,
.row2,
.row3 {
    width: 100%;
    height: 20em;
    background: var(--color-light-blue2);
    position: relative;
}

#banner {
    height: 15em;
    background: url(assets/banner1.webp);
    background-repeat: no-repeat;
    background-size: 100% 15em;
}


.banner-before {
    content: "<";
    width: 60px;
    height: 60px;
    background: #fff;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 1.5em;
    cursor: pointer;
}

.banner-after {
    content: ">";
    width: 60px;
    height: 60px;
    background: #fff;
    font-size: 50px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 1.5em;
    cursor: pointer;
}